version: "3.8"

services:
  app:
    build: .
    container_name: lazy-py-crawler-app
    ports:
      - "127.0.0.1:8001:8000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - MONGO_DATABASE=lazy_crawler
    depends_on:
      - mongodb
    volumes:
      - .:/app
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - lazy-crawler-network

  mongodb:
    image: mongo:latest
    container_name: lazy-py-crawler-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - lazy-crawler-network

volumes:
  mongodb_data:


networks:
  lazy-crawler-network:
    driver: bridge
